body {background-color: #49c5b6;} 

h1{font-family: 'Exo 2', sans-serif; color: aliceblue;}

.atas{font-family: 'Exo 2', sans-serif; color: aliceblue;font-size: 75px;} 

p{font-family: 'Exo 2', sans-serif;font-size: larger; color: aliceblue}

li{font-family: 'Exo 2', sans-serif; font-size: x-large;color: aliceblue}

pre{ font-family: 'Exo 2', sans-serif; font-size: larger;color: aliceblue}

a{font-family: 'Exo 2', sans-serif;font-size: larger;color: aliceblue}

.kotak{width: 100%; height: 90px; background-color:#2779a7 ;top: 0px; left: 0px; right: 0px;padding: 0px;}
.gr2{ width: 950px;}